
.tweet {
  .retweeted-by {
    font-size: 0.85em;
    
    a {
      color: #999;
    }
  }
  
  img + .actions {
    margin-top: 10px;  
  }
  
  .actions {
    i {
      cursor: pointer;
      
      transition: color 0.5s ease-in-out;
      
      font-size: 1.4em;
      
      vertical-align: middle;
      
      margin-right: 7px;
      
      &.fa-heart:hover {
        color: red;
      }
      
      &.fa-reply:hover {
        color: blue;
      }
      
      &.fa-retweet:hover {
        color: green;
      }
    }
  }
}