<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'feed' class='navbar-brand'}}<img src="/assets/images/logo.svg" style="height: 100%;"/>{{/link-to}}
    </div>
    <div class="collapse navbar-collapse" id="navigation-collapse">
      <ul class="nav navbar-nav">
        {{#link-to 'feed' tagName='li'}}
          <a href='#'>Feed</a>
        {{/link-to}}
        {{#link-to 'my_tweets' tagName='li'}}
          <a href='#'>My Tweets</a>
        {{/link-to}}
      </ul>
    </div>
  </div>
</div>
<div class='container-fluid'>
  {{outlet}}
</div>
