{{#if session.isAuthenticated }}
  <div class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to 'index' class='navbar-brand'}}<img src="/assets/images/logo.svg" style="height: 100%;"/>{{/link-to}}
      </div>
      <div class="collapse navbar-collapse" id="navigation-collapse">
        <ul class="nav navbar-nav">
          {{#menu-item 'index'}}Feed{{/menu-item}}
          {{#menu-item 'user' currentUser.handle}}My Tweets{{/menu-item}}
          {{#link-to 'login' tagName='li'}}
            <a href='' {{action 'invalidateSession'}}>Logout</a>
          {{/link-to}}
        </ul>
      </div>
    </div>
  </div>
{{/if}}
<div class='container-fluid'>
  {{outlet}}
</div>
