<div class='row'>
  <div class='hidden-xs col-sm-4 col-md-3 col-lg-2'>
    {{profile-view user=model.user}}
  </div>
  <div class='col-xs-12 col-sm-8 col-md-6 col-lg-8'>
    {{#each sortedTweets as |tweet|}}
      {{inline-tweet tweet=tweet}}
    {{/each}}
  </div>
</div>